
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  
}

ul li:nth-child(odd) {
  background: #f9f9f9;
}

ul li:hover {
  background: #ddd;
}

ul li.checked {
  background: grey;
  color:white;
  text-decoration:line-through;
}

ul li.checked::before {
  content: '✓';
  position: absolute;
  top: 10px;
  left: 16px;
  color: #fff; 
}

.delete {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.delete:hover {
  background-color: #2f2e2e;
  color: white;
}

.header {
  background-color: #5e5b5b;
  padding: 30px 40px;
  color: white;
}
.header h2{
   margin-bottom: 15px ; 
   text-align: center;
  
}

.header:after {
  content: "";
  display: table;
  clear: both;
}

input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.addBtn:hover {
  background-color: #bbb;
}
